
<% let trueVal = [] %>
    <div class="word-type score">
        <h3>
            Type: <%= type %> 
        </h3>
        <h3>Score:<%= score %>  </h3>
    </div>
    <div class="hangmanDiv">
        <svg class="figure-svg">
          <line class="<% if (mistakes >= 1)  {%>svg-visible<%}%>" x1="20" y1="230" x2="100" y2="230" />
          <line class="<% if (mistakes >= 2)  {%>svg-visible<%}%>" x1="60" y1="20" x2="60" y2="225" />
          <line class="<% if (mistakes >= 3)  {%>svg-visible<%}%>" x1="60" y1="15" x2="140" y2="15" />
          <line class="<% if (mistakes >= 4)  {%>svg-visible<%}%>" x1="140" y1="20" x2="140" y2="45" />
          <circle class="<% if (mistakes >= 4)  {%>svg-visible<%}%>" cx="140" cy="70" r="20" class="figure-part" />
          <line class="<% if (mistakes >= 5)  {%>svg-visible<%}%>" x1="140" y1="95" x2="140" y2="150" class="figure-part" />
          <line class="<% if (mistakes >= 6)  {%>svg-visible<%}%>" x1="136" y1="120" x2="120" y2="100" class="figure-part" />
          <line class="<% if (mistakes >= 6)  {%>svg-visible<%}%>" x1="144" y1="120" x2="160" y2="100" class="figure-part" />
          <line class="<% if (mistakes >= 7)  {%>svg-visible<%}%>" x1="138" y1="152" x2="120" y2="180" class="figure-part" />
          <line class="<% if (mistakes >= 7)  {%>svg-visible<%}%>" x1="142" y1="152" x2="160" y2="180" class="figure-part" />
        </svg>
      </div>

    <% if (!progress && mistakes >= 7) { %>
        <div>
            <h1>GAME OVER</h1>
        </div>
    <% } else if (!progress) { %>
        <h1>YOU WIN</h1>
        <form align="center" action="/" method="post">
            <button 
                class="keybtn btn btn-outline-dark btn-lg" 
                name="stage"
                value="continue"> Continue
            </button>
            <input type="hidden" name="wordId" value="<%= wordId %>">
            <input type="hidden" name="score" value="<%= score %>">
            <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
        </form>
        <button>
            <form align="center" action="/" method="post">
                <button 
                    class="keybtn btn btn-outline-dark btn-lg" 
                    name="stage"
                    value="end"> Main Menu
                </button>
                <input type="hidden" name="wordId" value="<%= wordId %>">
                <input type="hidden" name="score" value="<%= score %>">
                <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
            </form>   
        </button>
    <% } else { %>      
        <div>    
        <div class="row justify-content-center">
            <div align="center">

                <% for (let i = 0; i < wordLength; i++) { %>

                        <% if (enteredRight[i] !== '_') { %>          
                            <div> <%= enteredRight[i] %> </div>
                        <% } else { %>
                            <div class="box"></div>
                        <% } %>

                <% } %>

            </div>
        </div>
        <div class="word-hint">Hint: <%= description %> </div>
        <div>
        <% for (var i = 0; i < alphabet.length; i++) { %>
            <% if (enteredLetters.includes(alphabet[i])) { %>
                <form align="center">
                    <button disabled><%= alphabet[i] %></button>
                </form>
            <% } else if (!progress) {%>
                <form align="center">
                    <button disabled><%= alphabet[i] %></button>
                </form>

            <% } else { %>
                <form align="center" action="/" method="post">
                    <button 
                        name="letter" 
                        value=<%= alphabet[i] %>><%= alphabet[i] %>
                    </button>
                    <input type="hidden" name="wordId" value="<%= wordId %>">
                    <input type="hidden" name="mistakes" value="<%= mistakes %>">
                    <input type="hidden" name="score" value="<%= score %>">
                    <input type="hidden" name="enteredLetters" value="<%= enteredLetters %>">
                    <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
                </form>
            <% } %>
        <% } %>
    <% } %>
  </div>
</div>
