
<% let trueVal = [] %>
    <div class="word-type score">
        <h3>
            Type: <%= type %> 
        </h3>
        <h3>Score:<%= score %>  </h3>
    </div>
    <div class="hangmanDiv">
        <svg class="figure-svg">
          <line class="<% if (mistakes >= 1)  {%>svg-visible<%}%>" x1="20" y1="230" x2="100" y2="230" />
          <line class="<% if (mistakes >= 2)  {%>svg-visible<%}%>" x1="60" y1="20" x2="60" y2="225" />
          <line class="<% if (mistakes >= 3)  {%>svg-visible<%}%>" x1="60" y1="15" x2="140" y2="15" />
          <line class="<% if (mistakes >= 4)  {%>svg-visible<%}%>" x1="140" y1="20" x2="140" y2="45" />
          <circle class="<% if (mistakes >= 4)  {%>svg-visible<%}%>" cx="140" cy="70" r="20" class="figure-part" />
          <line class="<% if (mistakes >= 5)  {%>svg-visible<%}%>" x1="140" y1="95" x2="140" y2="150" class="figure-part" />
          <line class="<% if (mistakes >= 6)  {%>svg-visible<%}%>" x1="136" y1="120" x2="120" y2="100" class="figure-part" />
          <line class="<% if (mistakes >= 6)  {%>svg-visible<%}%>" x1="144" y1="120" x2="160" y2="100" class="figure-part" />
          <line class="<% if (mistakes >= 7)  {%>svg-visible<%}%>" x1="138" y1="152" x2="120" y2="180" class="figure-part" />
          <line class="<% if (mistakes >= 7)  {%>svg-visible<%}%>" x1="142" y1="152" x2="160" y2="180" class="figure-part" />
        </svg>
      </div>

    <% if (!progress && mistakes >= 7) { %>
        <div>
            <h1>GAME OVER</h1>
            <h2>Right word is <%= word %></h2>
        </div>
    <% } else if (!progress) { %>
        <h1>YOU WIN</h1>
        <form class="keyForm col-lg-1 col-md-1 col-sm-3 col-3" align="center" action="/" method="post">
            <button 
                class="keybtn btn btn-outline-dark btn-lg" 
                name="stage"
                value="continue"> Continue
            </button>
            <input type="hidden" name="wordId" value="<%= wordId %>">
            <input type="hidden" name="score" value="<%= score %>">
            <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
        </form>
        <button>
            <form class="keyForm col-lg-1 col-md-1 col-sm-3 col-3" align="center" action="/" method="post">
                <button 
                    class="keybtn btn btn-outline-dark btn-lg" 
                    name="stage"
                    value="end"> Main Menu
                </button>
                <input type="hidden" name="wordId" value="<%= wordId %>">
                <input type="hidden" name="score" value="<%= score %>">
                <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
            </form>   
        </button>
    <% } else { %>   
        <div class="random-word"> 
            <% let values = Object.values(enteredLetters) %>
                <% if (values[0]) { 
                        for (let key in values[0]) {  
                        trueVal.push(key)}
                } %>
    
    
            <% for (let i = 0; i < word.length; i++) { %>
                <% if(trueVal.includes(word[i])) { %>
                        <div class="guessed-word"> <%= word[i] %> </div>                       
                <% } else { %>
                    <div> <%= " " %> </div>  
                <% } %> 
            <% } %>  

        </div>    
        <div class="row justify-content-center">
            <% for (let i = 0; i < enteredLetters.length; i++) { %>
                <div class="col-lg-1 col-md-1 col-sm-3 col-3 wordCol" align="center">
                    <h2 class="<%if (!progress) {%>word-reveal<%}%>"><%= enteredLetters[i] %></h2>
                </div>
            <% } %>
        </div>
    
        <div class="word-hint">Hint: <%= description %> </div>
        <div class="keysDiv row justify-content-center">
        <% for (var i = 0; i < alphabet.length; i++) { %>
            <% if (enteredLetters.includes(alphabet[i])) { %>

                <form class="keyForm col-lg-1 col-lg-1 col-md-1 col-sm-3 col-3" align="center">
                <button class="keybtn usedKey btn btn-secondary btn-lg" disabled><%= alphabet[i] %></button>
                </form>

            <% } else if (!progress) {%>

                <form class="keyForm col-lg-1 col-md-1 col-sm-3 col-3" align="center">
                <button class="keybtn usedKey btn btn-outline-dark btn-lg" disabled><%= alphabet[i] %></button>
                </form>

            <% } else { %>

                <form class="keyForm col-lg-1 col-md-1 col-sm-3 col-3" align="center" action="/" method="post">
                    <button 
                        class="keybtn btn btn-outline-dark btn-lg" 
                        name="letter" 
                        value=<%= alphabet[i] %>><%= alphabet[i] %>
                    </button>
                    <input type="hidden" name="wordId" value="<%= wordId %>">
                    <input type="hidden" name="mistakes" value="<%= mistakes %>">
                    <input type="hidden" name="score" value="<%= score %>">
                    <input type="hidden" name="enteredLetters" value="<%= enteredLetters %>">
                    <input type="hidden" name="guessedWordsIds" value="<%= guessedWordsIds %>">
                </form>

            <% } %>
        <% } %>
    <% } %>
  </div>
</div>
