<% let trueVal = [] %>
<div class="container">
    <div class="word-type">Type: <%= type %> </div>
 

    <div class="random-word"> 
        <% let values = Object.values(enteredLetters) %>
            <% if (values[0]) { 
                    for(let key in values[0]) {  
                    trueVal.push(key)}
            } %>
 
  
          <% for(let i = 0; i < word.length; i++) { %>
             <% if(trueVal.includes(word[i])) { %>
                    <div class="guessed-word"> <%= word[i] %> </div>  
                        
             <% } else { %>
                <div> <%= " " %> </div>  
             <% } %> 
          <% } %>  

    </div> 
    
  
  
    <form action="/enter_word" method="post"> 
            <% if (enteredLetters !== 'newPlayer') { %>
                <% for (let key in values[0]) { %>
                    <input type="hidden" name="1 <%= key %>" value="<%= key %>">   
                <% } %>

                <% for (let key in values[1]) { %>
                    <input type="hidden" name="0 <%= key %>" value="<%= key %>">   
                <% } %>

            <% } else { %>
                 <input type="hidden" name="enteredLetters" value="<%= enteredLetters %>"> 
            <% } %> 
            
            <input type="hidden" name="word_id" value="<%= wordId %>">
            <input type="hidden" name="guessed_words_ids" value="<%= guessed_words_ids %>">

        <div class="word-letter">
            <div class="game__input">
                <input type="text" placeholder="Enter a letter" name="letter_input" maxlength="1" autocomplete="off">
                <input type="submit" value="Enter"> 
            </div>
        </div>

    </form>

    <div class="word-hint">Hint: <%= description %> </div>
    
    <% if(enteredLetters !== 'newPlayer') { %>
        <% if(Object.values(values[1]).length !== 0) { %>
            <div class="entered-letters">
                Entered wrong:
                
                <%for (let key in values[1]) { %>
                    <div> <%= key %> </div>
                <% }%>
                
            </div>
       <% }%>
    <% } %>


</div>